.Colors {
  font-family: inherit;
  font-size: inherit;
  padding: 1vw;
  margin-right: 10vw;
}

.EditButton {
  background-color: gray;
  color: black;
  margin-right: 2vmin;
}

.EditMenuContainer {
  width: 100%;
}

.EditMenu {
  left: 0px;
  position: relative;
  text-align: left;
  width: fit-content;
}

.Editor {
  height: 20vmin;
  overflow-y: scroll;
  resize: none;
  text-align: left;
  width: 100%;
}

.NoteEdit {
  border: 1px solid black;
  height: 40vmin;
  left: 20vw;
  padding: 5vmin;
  position: absolute;
  top: 30vmin;
  width: 60vw;
}
