.Add {
  cursor: pointer;
  height: 5vmin;
  left: 2vmin;
  top: 2vmin;
  position: absolute;
}

.Menu {
  top: 0;
  right: 0;
  width: 100%;
  position: fixed;
}

.MenuButton {
  background-color: white;
  color: #0b3ead;
  font-weight: bold;
}

.Username {
  color: #13afdf;
}

.Welcome {
  right: 2vmin;
  position: absolute;
}
