.App {
  text-align: center;
}

.AppHeader {
  background-color: #0b3ead;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Button {
  border-radius: 1vmin;
  cursor: pointer;
  padding: 1vw;
}

.Icon {
  cursor: pointer;
  height: 4vmin;
  margin-right: 4vmin;
  margin-top: 3vmin;
}

.Note {
  background-color: white;
  border-radius: 2vmin;
  color: black;
}
