.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.AppHeader {
  background-color: #0b3ead;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Button {
  border-radius: 1vmin;
  cursor: pointer;
  font-weight: bold;
  padding: 1vmin;
}

.Credits {
  height: 10vh;
  margin-top: 5vh;
  font-size: calc(5px + 1vmin);
}

a:link {
  color: #61dafb;
}

a:visited {
  color: #61dafb;
}

a:hover {
  color: #61dafb;
}

a:active {
  color: #61dafb;
}
